<ion-view view-title="My Stories" ng-controller="BrowseCtrl">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-refresh" ng-click="refresh()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row responsive-md" ng-repeat="row in stories.dataClean">
        <!-- <div ng-repeat="story in stories.data track by $i"> -->
            <!-- <div class="row" ng-if="$i%2 == 0"> -->
                <div ng-repeat="story in row" class="col col-50 story" ng-click="openStory(story)">
                    <div class="card">
                        <div class="item item-image">
                            <img ng-src="{{story.image}}">
                        </div>
                        <div class="item item-energized">
                            <h2>{{story.title}}</h2>
                            <p>{{story.date | amCalendar}}</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </ion-content>
</ion-view>
