<ion-modal-view class="dict">
    <ion-header-bar class="bar-energized">
        <h1 class="title">MyDictionary</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeDict()">Close</button>
        </div>
    </ion-header-bar>
            <div class="bar bar-subheader item-input">
                <!-- <i class="icon ion-search placeholder-icon"></i> -->
                <input ng-model="search.text" onClick="this.select();" type="text" placeholder="Search the Internet">
                <button class="button button-small button-icon ion-search" ng-click="search()" ng-show="search.text">
                  search
                </button>
            </div>
    <ion-content>
        <form>
            <div class="item"></div>
            <!-- <label class="item">
                <button class="icon-right ion-arrow-right-c button button-block button-energized" >Search</button>
            </label> -->
            <div class="item" ng-hide="search.text || showList">
                <div class="letters row">
                    <div class="col">A</div>
                    <div class="col">B</div>
                    <div class="col">C</div>
                    <div class="col">D</div>
                    <div class="col">E</div>
                    <div class="col">F</div>
                    <div class="col">G</div>
                </div>
                <div class="letters row">
                    <div class="col">H</div>
                    <div class="col">I</div>
                    <div class="col">J</div>
                    <div class="col">K</div>
                    <div class="col">L</div>
                    <div class="col">M</div>
                    <div class="col">N</div>
                </div>
                <div class="letters row">
                    <div class="col">O</div>
                    <div class="col">P</div>
                    <div class="col">Q</div>
                    <div class="col">R</div>
                    <div class="col">S</div>
                    <div class="col">T</div>
                    <div class="col">U</div>
                </div>
                <div class="letters row">
                    <div class="col">V</div>
                    <div class="col">W</div>
                    <div class="col">X</div>
                    <div class="col">Y</div>
                    <div class="col">Z</div>
                    <div class="col item-text-wrap" ng-click="openCategory()">All words</div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="list list-inset search-terms" ng-show="search.text || showList">
                <div class="item item-button-right" ng-repeat="(key,value) in searchTerms" ng-click="searchFromTerm(key)">
                    {{key}} <i class="icon ion-heart" ng-if="value >= 5" ng-class="{'energized':value >= 10}"></i> <small ng-if="value == 1" class="energized">New</small>
                    <button class="button button-icon ion-close-circled" ng-click="deleteWord(key)">
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar ng-click="insertImage(); closeDict();" align-title="left" class="bar-energized"  ng-show="photo.preview">
      <h1 class="title"><i class="icon ion-checkmark-round"></i> Use this image</h1>
    </div>
</ion-footer-bar>
</ion-modal-view>
