<!-- <ion-header-bar class="bar-energized">
	<h1 class="title">My Stories</h1>
</ion-header-bar> -->
<ion-content class="home" ng-controller="AppCtrl" scroll="false">
    <ion-list>
        <ion-item nav-clear menu-close class="col item-energized settings"><i ng-click="login()" class="icon ion-gear-a"></i></ion-item>
        <ion-item nav-clear menu-close class="item-energized profile">

            <img class="full-image" src="{{user.image || 'img/profile.jpg'}}" ng-click="login()">
            <br/><span class="name">{{user.name}}</span>
        </ion-item>
    </ion-list>
    <ion-item class="item-energized row centretext">
        <ion-item class="col item-energized" href="#/app/search"><i class="icon ion-plus-circled"></i>New Story</ion-item>
        <ion-item nav-clear menu-close class="col item-energized" href="#/app/browse"><i class="icon ion-grid"></i>My Stories</ion-item>
        <ion-item nav-clear menu-close class="col item-energized" href="#/app/playlists"><i class="icon ion-person-stalker"></i>Community</ion-item>
    </ion-item>
</ion-content>
