<ion-modal-view class="dict">
    <ion-header-bar class="bar-energized">
        <h1 class="title">Add an Image</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePreview()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content delegate-handle="saveScreen"> 
        <div class="list list-inset">
            <div class="item card item-image" ng-show='photo.preview'>
                <img ng-src="{{photo.preview}}" alt="Image Preview" />
            </div>
            <!-- <label class="item item-dark item-input item-select" ng-show="photo.preview">
            <span class="input-label">Save image to</span>
                <select>
                  <option>Blue</option>
                  <option>Green</option>
                  <option>Red</option>
                </select>
            </label> -->
            <label class="item item-input item-stacked-label">
                <span class="input-label">Save image to Dictionary</span>
                <input type="text" placeholder="Undefined" ng-model="photo.saveTo">
            </label>
            <div class="item">
                <button class="button icon-right ion-checkmark-round button-block button-energized" ng-click="insertImage();" ng-show="photo.preview">Use this Photo</button>
                <button class="button button-block icon-right ion-camera" ng-class="{'button-stable':photo.preview, 'button-energized':!photo.preview}" ng-click="photoOptions()">Add a <span ng-show="photo.preview">diffenrent</span> Photo</button>
            </div>
        </div>
    </ion-content>
    <!-- <ion-footer-bar ng-click="insertImage(); closeDict();" align-title="left" class="bar-energized"  ng-show="photo.preview">
      <h1 class="title"><i class="icon ion-checkmark-round"></i> Use this image</h1>
    </div> -->
</ion-footer-bar>
</ion-modal-view>
