<ion-modal-view>
    <ion-header-bar class="bar-energized">
        <h1 class="title">Settings</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="saveUser()">Save</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <!-- <form ng-submit="doLogin()"> -->
            <div class="list">
                
                <div class="row">
                <div class="item card item-image userPreview col">
                    <img ng-src="{{user.preview || user.image || 'img/profile.jpg'}}" alt="Image Preview"/>
                </div>
                <div class="list col col-center">
                    <label class="item item-input item-input-inset item-stable">
                        <input type="text" ng-model="user.name" placeholder="Your name">
                    </label>
                    <button class="button button-block icon-right ion-camera" ng-class="{'button-stable':user.preview, 'button-energized':!user.image}" ng-click="profileOptions()">Add a <span ng-show="user.image">different</span> Photo</button>
                </div>
                
                </div>
            </div>
        <!-- </form> -->
    </ion-content>
</ion-modal-view>
