<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" expose-aside-when="large" is-enabled="showSidebar">
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ng-click="login()" class="item-dark profile" style="border-bottom: 2px solid rgb(255, 201, 0);">
                    <img class="full-image" ng-src="{{user.image || 'img/profile.jpg'}}">
                    <br/><span class="name">{{user.name}}</span>
                </ion-item>
                <ion-item href="#/app/search" class="item-dark">
                    <i class="icon ion-plus-circled"></i> New Story
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/browse" class="item-dark">
                    <i class="icon ion-grid"></i> My Stories
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/playlists" class="item-dark">
                    <i class="icon ion-person-stalker"></i> Community
                </ion-item>
                <!--       <ion-item nav-clear menu-close href="#/home" class="item-dark">
          <i class="icon ion-home"></i> Home
        </ion-item> -->
            </ion-list>
        </ion-content>
        <ion-footer-bar class="bar-dark" align-title="center">
            <i ng-click="login()" class="title icon ion-gear-a" style="opacity:.5"></i>
        </ion-footer-bar>
    </ion-side-menu>
    <ion-side-menu side="left" expose-aside-when="large" is-enabled="showSidebar" ng-show="editing.active">
        <ion-content>
            <ion-list>
                <!-- <ion-item href="#" class="item-dark">
                    <i class="icon ion-edit"></i> Write
                </ion-item> -->
                <ion-item nav-clear menu-close href="#" class="item-dark" ng-click="photoOptions()">
                    <i class="icon ion-image"></i> Image
                </ion-item>
                <ion-item nav-clear menu-close href="#" class="item-dark" ng-click="dict()">
                    <i class="icon ion-folder"></i> Dictionary
                </ion-item>
                <!-- <ion-item nav-clear menu-close href="#" class="item-dark">
                    <i class="icon ion-ios-recording ion-android-microphone" ng-click="recordAudio()"></i> Voice
                </ion-item> -->
                <a class="button button-clear" href="#/"><i class="icon ion-close-round"></i>  Cancel</a>
                <!--       <ion-item nav-clear menu-close href="#/home" class="item-dark">
          <i class="icon ion-home"></i> Home
        </ion-item> -->
            </ion-list>
        </ion-content>
        <ion-side-menu>
</ion-side-menus>
