<ion-view view-title="Community" ng-controller="BrowseCtrl">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-refresh" ng-click="refresh()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row" ng-repeat="row in communityStories.dataClean">
            <div ng-repeat="story in row" class="col col-50 story" ng-click="openStory(story)">
                <div class="card">
                    <div class="item item-image">
                        <img ng-src="{{story.image}}">
                    </div>
                    <div class="item item-energized">
                            <h2>{{story.title}}</h2>
                            <p>{{story.date | amCalendar}}</p>
                    </div>
                    <div class="user" style="background-image:url('{{story.userimage}}')"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
