<ion-view view-title="New Story" class="newStory">
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-checkmark-round" ng-click="showPopup()">
            Save
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="preview">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="newStory">
                <ion-slide ng-repeat="page in pages">
                    <div class="item item-image responsive-sm">
                        <img ng-src="{{page.image}}" class="fullscreen-image" />
                        <button class="button button-energized icon-left ion-image add-image" ng-hide="page.image" ng-click="photoOptions()"> Add a photo</button>
                        <!-- <span style="line-height: 59px;display: inline-block;padding: 0 10px;color: grey;" class="col">or</span> -->
                        <button class="button button-energized icon-left ion-folder add-image" ng-hide="page.image" ng-click="dict()"> MyDictionary</button>
                    </div>
                        <div class="item item-text-wrap suggestions" ng-show="showSug"><span class="suggestion" ng-repeat="(key, value) in searchTerms" ng-click="useKeyword(key,page)">{{key}}</span></div>
                    <div class="box storyText" style="background:transparent;">
                    <input ng-model="page.text" type="text" value="{{page.text}}" placeholder="Write caption here"  ng-blur="notTyping()" id="textInput" ng-keyup="typing()" ng-focus="typing()">
                    </div>
                    <!-- <button class="button button-outline button-small button-energized icon-left icon ion-radio-waves sound" ng-click="recordAudio()">Record</button> -->
                </ion-slide>
            </ion-slide-box>
        </div>

    </ion-content>
        <button class="button button-energized addPage" ng-click="newPage()">+</button>
</ion-view>
