<ion-modal-view class="storyPopup">
    <ion-header-bar>
        <h1 class="title">{{current_story.title}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeStory()"><i class="icon ion-close-round"></i></button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="user" style="background-image:url('img/profile.jpg')"></div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" delegate-handle="readStory">
            <ion-slide ng-repeat="page in current_story.pages">
                <div class="item item-image" ng-if="page.image_file">
                    <img src="{{page.image_file}}" class="fullscreen-image">
                </div>
                <div class="box storyText" ng-if="page.text">{{page.text}}</div>
                <button class="button button-icon icon ion-radio-waves sound" ng-if="page.audio"></button>
            </ion-slide>
        </ion-slide-box>
        <div class="overview" ng-show="showOverview">
            <div class="overviewWrap">
                <img ng-src="{{page.image_file}}" ng-repeat="page in current_story.pages track by $index" ng-click="toSlide($index)">
            </div>
            <button class="button icon ion-close closeOverview button-energized button-small" ng-click="hideOverview()"></button>
        </div>

        <button class="button icon ion-eye closeOverview button-energized button-clear button-small" ng-show="!showOverview" ng-click="openOverview()"> Overview</button>

    </ion-content>
</ion-modal-view>
