/* Empty. Add your own CSS if you like */

ion-side-menu ion-content.scroll-content.ionic-scroll {
    background: #353535 !important
}

.scroll-content.home {
    background: #ffc900;
    margin: 0;
}

.centretext {
    text-align: center;
}

.item {
    border: 0;
}

ion-side-menu {
    text-align: center;
}

ion-side-menu a.item-content {
    padding: 25px 5px !important;
    opacity: .6;
}

ion-side-menu ion-item i {
    display: block;
    font-size: 2em;
}

ion-side-menu.ng-hide-add,
ion-side-menu.ng-hide-remove {
    /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
    
    transition: 0s linear all;
}

.active .modal-backdrop-bg {
    opacity: .8;
}

.profile {
    text-align: center;
}

.profile img {
    width: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .5)
}

.home .settings {
    text-align: right;
    padding: 50px 50px 20px 50px;
    font-size: .5em;
}

.home .profile {
    padding: 10px 30px;
}

.home .profile img {
    border-width: 10px;
}

.home .profile img {
    width: 25%;
}

.home .centretext {
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    padding-bottom: 50px;
}

.home .centretext a {
    padding: 0;
}

.home i {
    display: block;
    font-size: 4em;
}

.profile .name {
    font-weight: bold;
}

.col.story .item-image {
    height: 10%
}

.col.story .card {
    position: relative;
    overflow: visible;
}

.col.story .user {
    width: 50px;
    height: 50px;
    background: lightblue;
    background-size: cover;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 10;
    border: 2px solid white;
    border-radius: 50%;
}

.storyPopup {
    background: transparent;
}

.storyPopup .slider-pager .slider-pager-page {
    color: white;
}

.storyPopup .storyText,
.newStory .storyText {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 40px;
    z-index: 10;
    font-size: 1.5em;
    font-weight: bold;
    /*font-style: italic;*/
    color: rgb(66, 66, 66);
}

/*.storyPopup .slider-pager {
    position: fixed;
    bottom: 5px;
    z-index: 15;
}*/

.storyPopup ion-slide.slider-slide {
    border: 2px solid transparent;
}

.storyPopup .sound,
.newStory .sound {
    position: absolute;
    z-index: 11;
    top: 6px;
    left: 10px;
    /*text-shadow: 0px 0 4px white;*/
    /*color: cornflowerblue;*/
    border-radius: 10px;
}

.storyPopup .item.item-image {
    /*max-height: 750px;*/
}

.storyPopup ion-header-bar {
    background: transparent;
    border: 0;
}

.storyPopup ion-header-bar h1 {
    color: white;
}

.storyPopup {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    min-height: 240px;
    width: 100% !important;
    height: 100%;
}

.storyPopup .fullscreen-image,
.newStory .fullscreen-image {
    max-width: 100%;
    /*max-height: 100%;*/
    
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

.storyPopup .user {
    width: 50px;
    height: 50px;
    background: lightblue;
    background-size: cover;
    position: absolute;
    top: 10px;
    right: 8px;
    opacity: .8;
    z-index: 12;
    border: 2px solid white;
    border-radius: 50%;
}

.storyPopup .overview{
    position: absolute;
    bottom: 0;
    height: 100px;
    border-top: 1px solid rgb(69, 69, 69);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    width: 100%;
}

.storyPopup .overview .overviewWrap {
    margin: 0 auto;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.storyPopup .overview .overviewWrap img{
    height: 100px;
    padding: 5px;
    display: inline;
}
.storyPopup .overview .overviewWrap img:last-child{
    padding-right: 30px;
}
.storyPopup .overview .closeOverview{
    position: absolute;
    top: 0;
    right: 0;
}

.storyPopup .closeOverview{
    position: absolute;
  bottom: 5px;
  right: 5px;
}
/*New Story*/


/*.newStory ion-content {
    padding: 10px;
}*/

.newStory .preview {
    /*background: #ccc;*/
    height: 100%;
}

.newStory .addPage {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.21);
    border: 0;
    font-weight: bold;
    z-index: 15;
}

.newStory .add-image{
    border-radius: 10px;
}
/*.newStory .slider-pager {
    position: fixed;
    bottom: 15px;
    z-index: 15;
}*/

.newStory .item-image{
	min-height: 100%;
	padding-top: 30%;
}

.newStory .sound{
    background: rgba(219, 219, 291, 0.8);
}

.newStory .storyText input[type="text"] {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: grey;
}

.newStory .suggestions {
    -webkit-transition: 2s all ease;
    transition: 2s all ease;
    position: absolute;
    z-index: 20;
    bottom: 80px;
    width: 100%;
    text-align: center;
    background: transparent;
}
.newStory .suggestions .suggestion{
    display: inline-block;
    border: 1px solid rgb(186, 186, 186);
    padding: 5px 10px;
    margin: 5px 5px 0 5px;
    border-radius: 10px;
    color: grey;
    background: rgba(255, 255, 255, 0.8);
}

.dict .letters .col {
    text-align: center;
    background-color: gainsboro;
    border: 2px solid white;
    height: 80px;
    line-height: 80px;
    padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(176, 176, 176);
}

.dict .letters .col.hasImage{
	color: black;
	font-size: 2em;
}

.dict .item-image, .userPreview{
	-moz-transform: scale(.8) rotate(3deg);
	-webkit-transform: scale(.8) rotate(3deg);
	-o-transform: scale(.8) rotate(3deg);
	-ms-transform: scale(.8) rotate(3deg);
	transform: scale(.8) rotate(3deg);
	-webkit-box-shadow: 3px 3px 6px 0 #D4D4D4;
	box-shadow: 3px 3px 6px 0 #D4D4D4;
	border: 3px solid white;
	width: 50%;
	margin: 0 auto;
}

.dict .search-terms .item{
    border: 1px solid lightgrey;
}

.popup-body input[type="text"] {
  padding-left: 10px;
}

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .8;
    }
    .modal-backdrop-bg {        background-color: #000;
        opacity: 0;
    }
}

@media (min-width: 680px){
	.modal.dict {
	  top: 10%;
	  right: 20%;
	  bottom: 10%;
	  left: 20%;
	}
}